* text=auto !eol
security.authenticator.dummy-2.0.3-SNAPSHOT/ASL2.0.txt -text
security.authenticator.dummy-2.0.3-SNAPSHOT/NOTICE.txt -text
security.authenticator.dummy-2.0.3-SNAPSHOT/pom.xml -text
security.authenticator.dummy-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/dummy/AuthenticatorActivator.java -text
security.authenticator.dummy-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/dummy/UserPasswordCallee.java -text
security.authenticator.dummy-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/dummy/UserPasswordDummyService.java -text
security.authenticator.dummy-2.0.3-SNAPSHOT/src/test/java/org/universAAL/security/security/profile/authenticator/AppTest.java -text
security.authenticator.dummy-2.0.4-SNAPSHOT/ASL2.0.txt -text
security.authenticator.dummy-2.0.4-SNAPSHOT/NOTICE.txt -text
security.authenticator.dummy-2.0.4-SNAPSHOT/pom.xml -text
security.authenticator.dummy-2.0.4-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/dummy/AuthenticatorActivator.java -text
security.authenticator.dummy-2.0.4-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/dummy/UserPasswordCallee.java -text
security.authenticator.dummy-2.0.4-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/dummy/UserPasswordDummyService.java -text
security.authenticator.dummy-2.0.4-SNAPSHOT/src/test/java/org/universAAL/security/security/profile/authenticator/AppTest.java -text
security.authenticator.profile-2.0.3-SNAPSHOT/ASL2.0.txt -text
security.authenticator.profile-2.0.3-SNAPSHOT/NOTICE.txt -text
security.authenticator.profile-2.0.3-SNAPSHOT/pom.xml -text
security.authenticator.profile-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/profile/AuthenticatorActivator.java -text
security.authenticator.profile-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/profile/UserPasswordCallee.java -text
security.authenticator.profile-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/security/authenticator/profile/UserPasswordProfileService.java -text
security.authenticator.profile-2.0.3-SNAPSHOT/src/main/resources/GetDigestQuery -text
security.authenticator.profile-2.0.3-SNAPSHOT/src/main/resources/GetUserQuery -text
security.authenticator.profile-2.0.3-SNAPSHOT/src/test/java/org/universAAL/security/security/profile/authenticator/QueryTest.java -text
security.authenticator.userPassword.client-2.0.3-SNAPSHOT/ASL2.0.txt -text svneol=unset#text/plain
security.authenticator.userPassword.client-2.0.3-SNAPSHOT/NOTICE.txt -text svneol=unset#text/plain
security.authenticator.userPassword.client-2.0.3-SNAPSHOT/pom.xml -text
security.authenticator.userPassword.client-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/authenticator/client/AuthenticationPublisher.java -text
security.authenticator.userPassword.client-2.0.3-SNAPSHOT/src/main/java/org/universAAL/security/authenticator/client/UserPaswordAuthenticatorClient.java -text
security.authenticator.userPassword.client-2.0.3-SNAPSHOT/src/test/java/org/universAAL/security/authenticator/client/AppTest.java -text
security.authorizator-1.1.2-SNAPSHOT/LICENSE.txt -text
security.authorizator-1.1.2-SNAPSHOT/pom.xml -text
security.authorizator-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/AuthorizatorImpl.java -text
security.authorizator-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/IAuthorizator.java -text
security.authorizator-1.1.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/osgi/Activator.java -text
security.authorizator-1.1.2-SNAPSHOT/src/test/java/org/universAAL/ui/security/authorization/test/ArtifactIntegrationTest.java -text
security.authorizator-1.2.1-SNAPSHOT/ASL2.0.txt -text
security.authorizator-1.2.1-SNAPSHOT/MITX.txt -text
security.authorizator-1.2.1-SNAPSHOT/NOTICE.txt -text
security.authorizator-1.2.1-SNAPSHOT/pom.xml -text
security.authorizator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/AuthorizatorImpl.java -text
security.authorizator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/IAuthorizator.java -text
security.authorizator-1.2.1-SNAPSHOT/src/main/java/org/universAAL/ui/security/osgi/Activator.java -text
security.authorizator-1.2.1-SNAPSHOT/src/test/java/org/universAAL/ui/security/authorization/test/ArtifactIntegrationTest.java -text
security.authorizator-1.3.2-SNAPSHOT/ASL2.0.txt -text
security.authorizator-1.3.2-SNAPSHOT/MITX.txt -text
security.authorizator-1.3.2-SNAPSHOT/NOTICE.txt -text
security.authorizator-1.3.2-SNAPSHOT/pom.xml -text
security.authorizator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/AuthorizatorImpl.java -text
security.authorizator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/IAuthorizator.java -text
security.authorizator-1.3.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/osgi/Activator.java -text
security.authorizator-1.3.2-SNAPSHOT/src/test/java/org/universAAL/ui/security/authorization/test/ArtifactIntegrationTest.java -text
security.authorizator-1.3.3-SNAPSHOT/ASL2.0.txt -text
security.authorizator-1.3.3-SNAPSHOT/NOTICE.txt -text
security.authorizator-1.3.3-SNAPSHOT/pom.xml -text
security.authorizator-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/AuthorizatorImpl.java -text
security.authorizator-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/IAuthorizator.java -text
security.authorizator-1.3.3-SNAPSHOT/src/main/java/org/universAAL/ui/security/osgi/Activator.java -text
security.authorizator-1.3.3-SNAPSHOT/src/test/java/org/universAAL/ui/security/authorization/test/ArtifactIntegrationTest.java -text
security.authorizator-2.0.1-SNAPSHOT/ASL2.0.txt -text
security.authorizator-2.0.1-SNAPSHOT/NOTICE.txt -text
security.authorizator-2.0.1-SNAPSHOT/pom.xml -text
security.authorizator-2.0.1-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/AuthorizatorImpl.java -text
security.authorizator-2.0.1-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/IAuthorizator.java -text
security.authorizator-2.0.1-SNAPSHOT/src/main/java/org/universAAL/ui/security/osgi/Activator.java -text
security.authorizator-2.0.1-SNAPSHOT/src/test/java/org/universAAL/ui/security/authorization/test/ArtifactIntegrationTest.java -text
security.authorizator-2.0.2-SNAPSHOT/ASL2.0.txt -text
security.authorizator-2.0.2-SNAPSHOT/NOTICE.txt -text
security.authorizator-2.0.2-SNAPSHOT/pom.xml -text
security.authorizator-2.0.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/AuthorizatorImpl.java -text
security.authorizator-2.0.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/authorization/IAuthorizator.java -text
security.authorizator-2.0.2-SNAPSHOT/src/main/java/org/universAAL/ui/security/osgi/Activator.java -text
security.authorizator-2.0.2-SNAPSHOT/src/test/java/org/universAAL/ui/security/authorization/test/ArtifactIntegrationTest.java -text
security.karaf.feature-2.0.2-SNAPSHOT/ASL2.0.txt -text svneol=unset#text/plain
security.karaf.feature-2.0.2-SNAPSHOT/NOTICE.txt -text svneol=unset#text/plain
security.karaf.feature-2.0.2-SNAPSHOT/pom.xml -text svneol=unset#text/plain
security.karaf.feature-2.0.2-SNAPSHOT/src/features/features.xml -text svneol=unset#text/plain
security.karaf.feature-2.0.3-SNAPSHOT/ASL2.0.txt -text svneol=unset#text/plain
security.karaf.feature-2.0.3-SNAPSHOT/NOTICE.txt -text svneol=unset#text/plain
security.karaf.feature-2.0.3-SNAPSHOT/pom.xml -text svneol=unset#text/plain
security.karaf.feature-2.0.3-SNAPSHOT/src/features/features.xml -text svneol=unset#text/plain
security.pom-1.1.2-SNAPSHOT/pom.xml -text
security.pom-1.2.1-SNAPSHOT/pom.xml -text
security.pom-1.3.2-SNAPSHOT/pom.xml -text
security.pom-1.3.3-SNAPSHOT/pom.xml -text
security.pom-2.0.1-SNAPSHOT/pom.xml -text
security.pom-2.0.1-SNAPSHOT/security.karaf.feature/ASL2.0.txt -text svneol=unset#text/plain
security.pom-2.0.1-SNAPSHOT/security.karaf.feature/NOTICE.txt -text svneol=unset#text/plain
security.pom-2.0.1-SNAPSHOT/security.karaf.feature/pom.xml -text svneol=unset#text/plain
security.pom-2.0.1-SNAPSHOT/security.karaf.feature/src/features/features.xml -text svneol=unset#text/plain
security.pom-2.0.2-SNAPSHOT/pom.xml -text
security.pom-2.0.2-SNAPSHOT/security.karaf.feature/ASL2.0.txt -text svneol=unset#text/plain
security.pom-2.0.2-SNAPSHOT/security.karaf.feature/NOTICE.txt -text svneol=unset#text/plain
security.pom-2.0.2-SNAPSHOT/security.karaf.feature/pom.xml -text svneol=unset#text/plain
security.pom-2.0.2-SNAPSHOT/security.karaf.feature/src/features/features.xml -text svneol=unset#text/plain
security.pom-2.0.3-SNAPSHOT/pom.xml -text
security.pom-2.0.3-SNAPSHOT/security.karaf.feature/ASL2.0.txt -text svneol=unset#text/plain
security.pom-2.0.3-SNAPSHOT/security.karaf.feature/NOTICE.txt -text svneol=unset#text/plain
security.pom-2.0.3-SNAPSHOT/security.karaf.feature/pom.xml -text svneol=unset#text/plain
security.pom-2.0.3-SNAPSHOT/security.karaf.feature/src/features/features.xml -text svneol=unset#text/plain
security.pom-2.0.4-SNAPSHOT/pom.xml -text
security.pom-2.0.4-SNAPSHOT/security.karaf.feature/ASL2.0.txt -text svneol=unset#text/plain
security.pom-2.0.4-SNAPSHOT/security.karaf.feature/NOTICE.txt -text svneol=unset#text/plain
security.pom-2.0.4-SNAPSHOT/security.karaf.feature/pom.xml -text svneol=unset#text/plain
security.pom-2.0.4-SNAPSHOT/security.karaf.feature/src/features/features.xml -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/pom.xml -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/ManagerActivator.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/SessionManager.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/context/LocationChangeListener.java -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/context/SessionPublisher.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/context/SituationMonitor.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/context/Subscriber.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/helpers/CHeQuery.java -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/helpers/LocationTreeWrapper.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/helpers/SerializerGetter.java -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/helpers/UserDeviceWrapper.java -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/helpers/UserLocationTree.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/helpers/UserLocationTreeRoot.java -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/impl/SessionManagerImpl.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/impl/SituationMonitorImpl.java -text svneol=unset#text/plain
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/service/SCallee.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/java/org/security/session/manager/service/SessionManagerService.java -text
security.session.manager-2.0.3-SNAPSHOT/src/main/resources/getDevices.sparql -text
security.session.manager-2.0.3-SNAPSHOT/src/main/resources/getLocations.sparql -text
security.session.manager-2.0.3-SNAPSHOT/src/main/resources/getResource.sparql -text
security.session.manager-2.0.3-SNAPSHOT/src/test/java/deprecated/LocationTreeNode.java -text
security.session.manager-2.0.3-SNAPSHOT/src/test/java/org/security/session/manager/AppTest.java -text
