security.authenticator.dummy/.classpath
security.authenticator.dummy/.project
security.authenticator.dummy/.settings
security.authenticator.dummy/target
security.pom/.project
security.pom/.settings
security.pom/security.karaf.feature/.classpath
security.pom/security.karaf.feature/.project
security.pom/security.karaf.feature/.settings
security.pom/security.karaf.feature/target
security.pom/target
